<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dopetrope by HTML5 UP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="right-sidebar">

		<!-- Header -->
			<div id="header-wrapper">
				<div id="header">
					
					<!-- Logo -->
						<h1><a href="index">Slashy</a></h1>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index">Acceuil</a></li>
								<li>
									<a href="map">Carte</a>
								</li>
								<li class="current"><a href="charte">Notre charte</a></li>
								<li><a href="contact">Contact</a></li>
								<li><a href="espace">Mon espace</a></li>
							</ul>
						</nav>
				</div>
			</div>
		
		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">
							
							<!-- Content -->
								<article>
									<img src="images/slash.png" alt="" class="image featured" style="margin-bottom:0;"/>
									<div class="box post">
										<header>
											<h2>Notre charte</h2>
											<p>En perpétuelle évolution </p>
										</header>
										<p>
											Afin de subvenir aux besoins de personnes à mobilité réduite en matière d’hébergement nous nous basons  sur les critères fournis par le ministère du tourisme via leurs chartes Tourisme et Handicap (dont les PDF sont accessible ci-contre) ainsi que sur les appréciations d’usager, à savoir vous.
										</p>
										<p>
											Chaque hôtel est visité et évaluer par nos soins, comme énoncé précédemment, vos besoins sont nos critère de jugement. Si vos appréciations sont pertinentes elles seront prises en considération dans la notation des prestations hôtelières.
										</p>
										<section>
											<header>
												<h3>La notation se décline sous trois cigles :</h3>
											</header>
											<p align="center">
												<img src="images/slashy_green.png" alt="" style="width:160px;height:160px; padding:10px;"/>
												<img src="images/slashy_orange.png" alt=""  style="width:160px;height:160px; padding:10px;"/>
												<img src="images/slashy_red.png" alt=""  style="width:160px;height:160px; padding:10px;"/>
											</p>
											<p>
												Comme le laisse sous-entendre les couleurs le vert concerne les hôtels étant le plus accessible (accueillant le plus large éventail de handicape, le mieux noté par les utilisateurs, …) et le rouge à contrario le moins accessible.
											</p>
										</section>
										<section>
											<header>
												<h3>Pour tous les hôtels référencés sur le site sont liés les handicapes associés et leurs propres cycles :</h3>
											</header>
											
											<p align="center">
												<img src="images/hand1_c.png" alt="" style="width:120px;height:120px; padding:10px;"/>
												<img src="images/hand2_c.png" alt=""  style="width:120px;height:120px; padding:10px;"/>
												<img src="images/hand3_c.png" alt=""  style="width:120px;height:120px; padding:10px;"/>
												<img src="images/hand4_c.png" alt=""  style="width:120px;height:120px; padding:10px;"/>
											</p>
										</section>
									</div>
									</article>
						</div>
						<div class="4u">
						
							<!-- Sidebar -->
								<section class="box">
									<a href="doc/caract_2014.pdf" target="_blank" class="image featured"><img src="images/T&H.png" alt="" /></a>
									<header>
										<h3>Label Tourisme et Handicape - Caractéristiques Générales</h3>
									</header>
									<p>Restauration
									</br>Les différents types de bâti : 
									</br>ERP
									</br>BHC
									</br>Maisons individuelles
									</br>Mise en accessibilité des ERP
									</br>Distinguer le neuf de l’existant
									</br>Portée des dérogations</p>
									<footer>
										<a href="doc/caract_2014.pdf" class="button alt" target="_blank">Ouvrir PDF</a>
									</footer>
								</section>
								<section class="box">
									<a href="doc/heberg_2014.pdf" target="_blank" class="image featured"><img src="images/T&H.png" alt="" /></a>
									<header>
										<h3>Label Tourisme et Handicape - Hébergements Touristiques</h3>
									</header>
									<p>Les caractéristiques de l'hébergement
									</br>Eléments relatifs à l'évaluation des quotas de chambres et logement adaptés : 
									</br>Les chambres
									</br>Les équipements sanitaire dans l'hébergement
									</br>Autre caractéristiques des logements</p>
									<footer>
										<a href="doc/heberg_2014.pdf" class="button alt" target="_blank">Ouvrir PDF</a>
									</footer>
								</section>


						</div>
					</div>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>Blandit nisl adipiscing</h2>
								</header>
								<ul class="dates">
									<li>
										<span class="date">Jan <strong>27</strong></span>
										<h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
										<p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
									</li>
									<li>
										<span class="date">Jan <strong>23</strong></span>
										<h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
										<p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
									</li>
									<li>
										<span class="date">Jan <strong>15</strong></span>
										<h3><a href="#">Magna tempus lorem feugiat</a></h3>
										<p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
									</li>
									<li>
										<span class="date">Jan <strong>12</strong></span>
										<h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
										<p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
									</li>
									<li>
										<span class="date">Jan <strong>10</strong></span>
										<h3><a href="#">Blandit tempus aliquam?</a></h3>
										<p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
									</li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>What's this all about?</h2>
								</header>
								<a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a>
								<p>
									This is <strong>Dopetrope</strong> a free, fully responsive HTML5 site template by 
									<a href="http://n33.co">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> It's released for free under
									the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license so feel free to use it for any personal or commercial project &ndash; just don't forget to credit us!
								</p>
								<footer>
									<a href="#" class="button">Find out more</a>
								</footer>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<section>
								<header>
									<h2>Tempus consequat</h2>
								</header>
								<ul class="divided">
									<li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
									<li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
									<li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
									<li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
									<li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
									<li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Ipsum et phasellus</h2>
								</header>
								<ul class="divided">
									<li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
									<li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
									<li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
									<li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
									<li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
									<li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Vitae tempor lorem</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
									<li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
									<li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
								</ul>
								<ul class="contact">
									<li>
										<h3>Address</h3>
										<p>
											Untitled Incorporated<br />
											1234 Somewhere Road Suite<br />
											Nashville, TN 00000-0000
										</p>
									</li>
									<li>
										<h3>Mail</h3>
										<p><a href="#">someone@untitled.tld</a></p>
									</li>
									<li>
										<h3>Phone</h3>
										<p>(800) 000-0000</p>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">
						
							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>